@import "tailwindcss";

body {
  background-color: #140b0f;
  color: white;
  overflow-x: hidden;
}

@layer utilities {
  .bg-conic {
    background-image: conic-gradient(
      from 0deg at right bottom,
      #511d4b,
      #140b0f,
      #140b0f,
      #140b0f,
      #140b0f,
      #140b0f,
      #140b0f,
      #140b0f,
      #511d4b
    );
  }
}
.bg-my-conic {
  background-image: conic-gradient(
    from 0deg at bottom,
    #511d4b,
    #140b0f,
    #140b0f,
    #140b0f,
    #140b0f,
    #140b0f,
    #140b0f,
    #140b0f,
    #511d4b
  );
}

.fullwh {
  min-width: 100vw;
  min-height: 100vh;
}

@keyframes marquee {
  0%   { transform: translateX(200%); }
  100% { transform: translateX(-200%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}